body {
    background: url("/smartunibo/src/login/images/illustration.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-size: 330%;
}

.form-control {
    border-radius: 10px;
}

.form-control:focus {
    border-color: #bb2e29;
    box-shadow: 5px 2px 10px #EEE;
}

.btn {
    border-radius: 10px;
    background-color: #bb2e29;
    color: #EEEEEE;
    transition-duration: 0.5s;
}

.btn:hover {
    background-color: #6b0808;
    color: #FFFFFF;
    border-radius: 12px;
    width: 50%;
    box-shadow: 5px 5px 20px #6b0808;
}

.modal-dialog {
    padding-top: 26vh;
}

.modal-content  {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: #EEE;
}

.modal-header {
    color: #555;
    text-shadow: 5px 5px 100px #888;
}

.response {
    color: #333;
    text-shadow: 5px 5px 20px #222;
    font-family: sans-serif;
    font-size: 150%;
    padding-bottom: 5%;
}
